@import "variables";

.bg-dark-gray {
  background-color: $dark-gray !important;
}

.bg-gray {
  background-color: $gray !important;
}

.bg-lite-gray {
  background-color: $lite-gray !important;
}

.bg-primary {
  background-color: $primary !important;
}
