$color-35: #353535;
$color-33: #333333;
$sidebar-base-width: 17rem !default;
$header-height: 75px !default;
$footer-height: 50px !default;
$wrapper-padding: 1rem !default;

$lite-gray: #f0f0f0;
$dark-gray: #888888;
$dark: #343a40;
$white: #fff;
$gray: #e0e0e0;
$primary: #f57c01;
$secondary: #4a4a4a;
$danger: #d2302f;
